//Styling for Blog section

.blog-posts {
    padding-top: 5%;
}

.posts {
    width: 70%;
    margin: 0 auto;
}

.blog-posts h4 {
    width: 5.5%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 35px;
        bottom: -2px;
        left: 0;
    }
}

.medium-widget{

    .medium-widget-article__title {
    color: $tertiary-color;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 600;

    &:hover {
        color: $quaternary-color;
    }
}

.medium-widget-article__description {
    color: $tertiary-color;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 400;
}

   .medium-widget-article__date {
color: $tertiary-color;
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 300;
    }

    
   .medium-widget-article__author-name,
   .medium-widget-article__avatar-picture{
       display: none;
   }

} 


//Media Queries

@include view{
    .posts {
    width: 100%;
}
    .blog-posts h4 {
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        color: $quaternary-color;
        text-transform: uppercase;
        border-bottom: none;
        &:after {
            display: none;
        }
    }

   .medium-widget-article__grid .medium-widget-article__image img {
    width: 70px;
}
}

