// General styles for body

body {
    background-color: $primary-color;
    color: $tertiary-color;
}

.wrapper {
    margin-top: 20px;
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 1260px; 
    padding-right: 50px; 
    padding-left:  50px; 
}