// Styling Contact form

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}


.contact h4 {
    width: 10%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 35px;
        bottom: -2px;
        left: 0;
    }
}

.contact form {
    margin: 30px auto;
}


.contact form input,
.contact form textarea {
    width: 80%;
    margin-bottom: 20px;
    height: 50px;
    background-color: $primary-color;
    border: 2px solid $quinary-color;
    border-radius: 5px;
    padding: 4px 10px;
    color: $tertiary-color;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.contact form textarea {
    height: 100px;
    padding-top: 10px;
    resize: none;
}

.contact form input[type=submit] {
    width: 30%;
    margin-left: 23.5%;
    border: 2px solid $quaternary-color;
    border-radius: 29px;
    font-weight: 600;
}


//Media Queries

@include view{
    .contact h4 {
        margin: 0 auto;
        padding-top: 5%;
        color: $quaternary-color;
        text-transform: uppercase;
        border-bottom: none;
        &:after {
            display: none;
        }
    }

    .contact form {
        margin-left: 28%;
}
}

@include view-four {
    .contact h4 {
        margin-left: 41%;
        margin-bottom: 5%;
    }
    .contact form {
        margin: 0 auto;
    }
    .contact form input,
.contact form textarea {
    width: 100%;
}

.contact form input[type="submit"]{
    width: 40%;
    margin-left: 31%;
}
}

@include view-nine {
    .contact h4 {
        margin-left: 30%;
    }
}