// Styling Contact form

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.contact h4 {
    width: 15%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 35px;
        bottom: -2px;
        left: 0;
    }
}

.contact form label,
.contact form input {
    width: 80%;
    margin: 0 auto;
     margin-bottom: 20px;
}

