// Styling the Footer

footer {
    border-top: 2px solid $quinary-color;
    // border-top: 5px solid white;
    margin-bottom: 0;
    margin-top: 100px;
    padding-bottom: 10px;
     background-color: $senary-color;
    // background: red;
}

.social {
    display: flex;
}

.social Ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-top: 10px;

        li a {
        // width: 50%;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2.1rem;
        padding: 2px;
        margin-bottom: 0;
        text-decoration: none;
        color: $tertiary-color;

        &:hover {
            color: $quaternary-color;
            cursor: pointer;
        }
    }

}

.social p {
    margin-top: 10px;
    padding-top: 19px;
    margin-left: 50%;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2.1rem;
    // text-align: center;
}

// .social ul a {
//     text-decoration: none;
//     color: red;
// }

