// Styling the Footer

footer {
    border-top: 2px solid $quinary-color;
    // border-top: 5px solid white;
    margin-bottom: 0;
    margin-top: 100px;
    padding-bottom: 10px;
     background-color: $senary-color;
    // background: red;
}

.social {
    display: flex;
}

.social Ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-top: 10px;

        li a {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.1rem;
        padding: 2px;
        margin-bottom: 0;
        text-decoration: none;
        color: $tertiary-color;

        &:hover {
            color: $quaternary-color;
            cursor: pointer;
        }
    }

}

.social p {
    margin-top: 10px;
    padding-top: 19px;
    margin-left: 45%;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.1rem;
}

// Media Queries

@include view {
    .social ul {
        li a {
            padding: 6px;
            font-size: 1.25rem;
        }
    }

    .social p {
        font-size: 1.25rem;
    }
}

