// Styling Nav

nav {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 100;
    padding-top: 5px;
    padding-left: 25px;
}

// Styling logo

.logo {
    display: flex;
    margin: 0 auto;

    h2 {
    width: 48px;
    height: 48px;
    line-height: 44px;
    background-color: $quaternary-color;
    border-radius: 100px;
    text-align: center;
    color: $tertiary-color;
    font-size: 2.8rem;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
    }

    h3 {
        width: 160px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 5rem;
        margin-top: 4px;
    }

    .logo-surname {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

//Styling nav links

.nav-links {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-left: 23%;
    padding-right: 80px;

    li {
        list-style: none;

        a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;

        &:hover{
            color: $tertiary-color;
            cursor: pointer;
        }
    }

    }

    
    .fa-chevron-down {
        padding: 5px;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;
    }
}

// Media Queries

