// Styling Nav

nav {
    max-width: 100%;
    display: flex;
}

// Styling logo

.logo {
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;

    h2 {
    width: 48px;
    height: 48px;
    line-height: 44px;
    background-color: $quaternary-color;
    border-radius: 100px;
    text-align: center;
    color: $tertiary-color;
    font-size: 2.8rem;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
    }

    h3 {
        width: 160px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 5rem;
        margin-top: 4px;
    }

    .logo-surname {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

//Styling nav links

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    // align-items: flex-end;
    margin-top: 0;
    margin-left: 33%;
    padding-right: 40px;

    li {
        list-style: none;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;

        &:active,
        &:hover {
            color: $tertiary-color;
            cursor: pointer;
        }
    }

    .fa-chevron-down {
        padding: 5px;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;
    }
    &:hover {
        color: $tertiary-color;
    }
}

