// Styling Nav

.menu-toggle-btn {
    position: absolute;
    right: 0;
    // top: 50;
    color: $quaternary-color;
    height: 9rem;
    font-size: 2.6rem;
    line-height: 6rem;
        margin-right: 35px;
    margin-top: 2px;
    cursor: pointer;
    display: none;
}


nav {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 100;
    padding-top: 5px;
    padding-left: 25px;
}

// Styling logo

.logo {
    display: flex;
    margin: 0 auto;

    h2 {
    width: 48px;
    height: 48px;
    line-height: 44px;
    background-color: $quaternary-color;
    border-radius: 100px;
    text-align: center;
    color: $tertiary-color;
    font-size: 2.8rem;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
    }

    h3 {
        width: 160px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 5rem;
        margin-top: 4px;
    }

    .logo-surname {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

//Styling nav links

.nav-links {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-left: 23%;
    padding-right: 80px;

    li {
        list-style: none;

        a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;
        text-transform: uppercase;

        &:hover{
            color: $tertiary-color;
            cursor: pointer;
        }
    }

    }

    
    .fa-chevron-down {
        padding: 5px;
        font-size: 1.4rem;
        line-height: 5rem;
        color:$quinary-color;
    }
}

// Media Queries

@include tablet-two {
    .menu-toggle-btn {
        display: block;
    }

    .logo {
        margin-left: 2%;
    }

    .nav-links {
        position: fixed;
        width: 50%;
        max-width: 200px;
        background: $primary-color;
        border-radius: 29px;
        border: 2px solid $quaternary-color;
        top: 55px;
        right: 12px;
        display: none;
        padding: 20px 40px;
        // box-sizing: border-box;

        &::before {
            content: "";
            border-left: 10px solid transparent ;
            border-right: 10px solid transparent ;
            border-bottom: 10px solid transparent;
            position: absolute;
            top: -10px;
            right: 10px;
        }

        a {
            margin: 10px 0;
        }
    }

    .nav-links.active {
        display: block;
    }
}
