// Styline profile summary

.profile {
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding-top: 10%;
    justify-content: space-between;

    img {
        width: 100%;
        border-radius: 50%;
        border: 10px solid $secondary-color;
        box-shadow: 5px 10px 10px 1px $septenary-color;
    }

    .profile-summary {
        margin-left: 5%;

        h1 {
            margin-top: 0;
            font-size: 4.8rem;
            font-weight: 600;
            line-height: 5.6rem;
        }

        p:nth-child(1) {
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 1.9rem;
        }

        p:nth-child(3) {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.5rem;
            margin-bottom: 5%;
        }
    }
}

// Media Query

@include tablet {

    .profile img {
        width: 50%;
        height: 50%;
    }
}