// Styling skills and tools

.skills h4 {
    width: 12.8%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 50px;
        bottom: -2px;
        left: 0;
    }
}

.icons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;

       li h4 {
        font-size: 2rem;
        text-align: center;
    }
}

.icon-fa {
    font-size: 10rem; 
    margin: 20px 80px;
}

