// Styling skills and tools

.skills {
    padding-top: 5%;
}

.skills h4 {
    width: 5.8%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 20px;
        bottom: -2px;
        left: 0;
    }
}

.skills .skills-table {
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h5 {
            font-size: 2rem;
            font-weight: 400rem;
            line-height: 2.3rem;
        }
    }
}

//Media Queries

@include view{
    .skills h4 {
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        color: $quaternary-color;
        text-transform: uppercase;
        border-bottom: none;
        &:after {
            display: none;
        }
    }
}

@include view-three {

    .skills .skills-table {
    margin-left: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    }

}

@include view-five {
    .skills .skills-table {
    grid-template-columns: repeat(2, 1fr);
    }
}

@include view-six {
    .skilss h4 {
        margin: 0 auto;
    }
    .skills .skills-table {
        margin-left: 15%;
    grid-template-columns: repeat(1, 1fr);
    }
}


