// Styling skills and tools

.skills {
    padding-top: 5%;
}

.skills h4 {
    width: 5.8%;
    padding-bottom: 5px;
    color: $tertiary-color;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.5rem;
    position: relative;
    border-bottom: 2px solid $secondary-color;

    &:after {
        position: absolute;
        background-color: $quaternary-color;
        height: 2px;
        content: " ";
        width: 20px;
        bottom: -2px;
        left: 0;
    }
}

.icons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;

       li h4 {
        font-size: 2rem;
        text-align: center;
        font-weight: 400;
    }
}

.icon-fa {
    font-size: 10rem; 
    margin: 20px 80px;
}

.icon-two {
    width: 80px;
    height: 80px;
}

.icons li:nth-child(9) {
   margin-top: 2%;
}

.icons li:nth-child(11) {
    margin-left: 22px;
}


//Media Queries

@include tablet{
    .skills h4 {
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        color: $quaternary-color;
        text-transform: uppercase;
        border-bottom: none;
        &:after {
            display: none;
        }
    }

    .icons {
        width: 60%;
        .icon-fa {
                font-size: 4rem;
                margin: 10px 60px;
            } 
                
        .icon-two {
            width: 40px;
            height: 40px;
        }

        .icons li:nth-child(9) {
        margin-top: 2%;
        }

        .icons li:nth-child(11) {
            margin-left: 22px;
        }
    }
}

@include tablet-two {

    .icons {
        width: 80%;

        li:nth-child(9) {
        margin-top: 0%;
        }

        li:nth-child(10) {
            padding-left: 3%;
        }
    }

}