html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222222;
  color: #F5F5F5;
}

.wrapper {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  padding-right: 50px;
  padding-left: 50px;
  border: 2px solid red;
}

.menu-toggle-btn {
  position: absolute;
  right: 0;
  color: #007CED;
  height: 9rem;
  font-size: 2.6rem;
  line-height: 6rem;
  margin-right: 35px;
  margin-top: 2px;
  cursor: pointer;
  display: none;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222222;
  z-index: 100;
  padding-top: 5px;
  padding-left: 25px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.logo h2 {
  width: 48px;
  height: 48px;
  line-height: 44px;
  background-color: #007CED;
  border-radius: 100px;
  text-align: center;
  color: #F5F5F5;
  font-size: 2.8rem;
  font-weight: 800;
  margin-right: 8px;
  margin-top: 4px;
}

.logo h3 {
  width: 160px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 5rem;
  margin-top: 4px;
}

.logo .logo-surname {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.nav-links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  margin-left: 23%;
  padding-right: 80px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #606060;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: #F5F5F5;
  cursor: pointer;
}

.nav-links .fa-chevron-down {
  padding: 5px;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #606060;
}

@media (max-width: 1060px) {
  .menu-toggle-btn {
    display: block;
  }
  .logo {
    margin-left: 2%;
  }
  .nav-links {
    position: fixed;
    width: 50%;
    max-width: 200px;
    background: #222222;
    border-radius: 29px;
    border: 2px solid #007CED;
    top: 55px;
    right: 12px;
    display: none;
    padding: 20px 40px;
  }
  .nav-links::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .nav-links a {
    margin: 10px 0;
  }
  .nav-links.active {
    display: block;
  }
}

.profile {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid #444444;
  -webkit-box-shadow: 5px 10px 10px 1px #181818;
          box-shadow: 5px 10px 10px 1px #181818;
}

.profile .profile-summary {
  margin-left: 5%;
}

.profile .profile-summary h1 {
  margin-top: 0;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
}

.profile .profile-summary p:nth-child(1) {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.9rem;
}

.profile .profile-summary p:nth-child(3) {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 5%;
}

@media (max-width: 1160px) {
  .profile img {
    width: 50%;
    height: 50%;
  }
}

.btn-one,
.btn-two {
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  background-color: #444444;
  color: #F5F5F5;
  display: inline-block;
  border-radius: 29px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.btn-one {
  border: 2px solid #007CED;
}

.btn-one:hover {
  background-color: #007CED;
  cursor: pointer;
}

.btn-two {
  border: 2px solid #F5F5F5;
}

.btn-two:hover {
  background-color: #F5F5F5;
  color: #222222;
  cursor: pointer;
}

.btn-cv,
.btn-two {
  text-decoration: none;
}

@media (max-width: 1160px) {
  .btn-one,
  .btn-two {
    margin-left: 10%;
  }
}

.skills {
  padding-top: 5%;
}

.skills h4 {
  width: 5.8%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.skills h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 20px;
  bottom: -2px;
  left: 0;
}

.skills .skills-table {
  margin: 5vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
}

.skills .skills-table .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skills .skills-table .icon h5 {
  font-size: 2rem;
  font-weight: 400rem;
  line-height: 2.3rem;
}

@media (max-width: 1160px) {
  .skills h4 {
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #007CED;
    text-transform: uppercase;
    border-bottom: none;
  }
  .skills h4:after {
    display: none;
  }
}

@media (max-width: 935px) {
  .skills .skills-table {
    margin-left: 5%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
}

@media (max-width: 640px) {
  .skills .skills-table {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .skilss h4 {
    margin: 0 auto;
  }
  .skills .skills-table {
    margin-left: 15%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.projects {
  margin-bottom: 200px;
  padding-top: 5%;
}

.proj-desc h4 {
  width: 10%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.proj-desc h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 30px;
  bottom: -2px;
  left: 0;
}

.projects-container-one,
.projects-container-two {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proj-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.proj-three .proj-three-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-three .proj-three-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 12%;
}

.proj-three .proj-three-summary a {
  text-decoration: none;
}

.proj-three .proj-three-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-three .proj-three-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
  color: #F5F5F5;
}

.proj-three .proj-three-summary h4:hover {
  color: #007CED;
}

.proj-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.proj-four .proj-four-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-four .proj-four-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 55%;
}

.proj-four .proj-four-summary a {
  text-decoration: none;
}

.proj-four .proj-four-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-four .proj-four-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
  color: #F5F5F5;
}

.proj-four .proj-four-summary h4:hover {
  color: #007CED;
}

.proj-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 200px;
}

.proj-five .proj-five-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-five .proj-five-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 12%;
}

.proj-five .proj-five-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-five .proj-five-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
  color: #F5F5F5;
}

.proj-five .proj-five-summary h4:hover {
  color: #007CED;
}

.proj-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 200px;
}

.proj-six .proj-six-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-six .proj-six-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 55%;
}

.proj-six .proj-six-summary a {
  text-decoration: none;
}

.proj-six .proj-six-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-six .proj-six-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
  color: #F5F5F5;
}

.proj-six .proj-six-summary h4:hover {
  color: #007CED;
}

@media (max-width: 1160px) {
  .proj-desc h4 {
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #007CED;
    text-transform: uppercase;
    border-bottom: none;
  }
  .proj-desc h4:after {
    display: none;
  }
  .projects-container-one,
  .projects-container-two {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proj-three .proj-three-img {
    left: 0;
  }
  .proj-three .proj-three-summary {
    z-index: 1;
    left: 31%;
  }
  .proj-four .proj-four-img {
    left: 0;
    margin-top: 90%;
  }
  .proj-four .proj-four-summary {
    margin-top: 20%;
    z-index: 1;
    left: 31%;
  }
  .proj-five .proj-five-img {
    left: 0;
    margin-top: 0;
  }
  .proj-five .proj-five-summary {
    margin-top: 3%;
    z-index: 1;
    left: 31%;
  }
  .proj-six .proj-six-img {
    left: 0;
    margin-top: 0;
  }
  .proj-six .proj-six-summary {
    margin-top: 3%;
    z-index: 1;
    left: 31%;
  }
}

@media (max-width: 1060px) {
  .proj-three .proj-three-summary {
    width: 50%;
  }
  .proj-four .proj-four-summary {
    width: 50%;
  }
  .proj-five .proj-five-summary {
    width: 50%;
  }
  .proj-six .proj-six-summary {
    width: 50%;
  }
}

.blog-posts {
  padding-top: 5%;
}

.posts {
  width: 70%;
  margin: 0 auto;
}

.blog-posts h4 {
  width: 5.5%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.blog-posts h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 35px;
  bottom: -2px;
  left: 0;
}

.medium-widget .medium-widget-article__title {
  color: #F5F5F5;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 600;
}

.medium-widget .medium-widget-article__title:hover {
  color: #007CED;
}

.medium-widget .medium-widget-article__description {
  color: #F5F5F5;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.medium-widget .medium-widget-article__date {
  color: #F5F5F5;
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.medium-widget .medium-widget-article__author-name,
.medium-widget .medium-widget-article__avatar-picture {
  display: none;
}

@media (max-width: 1160px) {
  .blog-posts h4 {
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #007CED;
    text-transform: uppercase;
    border-bottom: none;
  }
  .blog-posts h4:after {
    display: none;
  }
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
}

.contact h4 {
  width: 10%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.contact h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 35px;
  bottom: -2px;
  left: 0;
}

.contact form {
  margin: 30px auto;
}

.contact form input,
.contact form textarea {
  width: 80%;
  margin-bottom: 20px;
  height: 50px;
  background-color: #222222;
  border: 2px solid #606060;
  border-radius: 5px;
  padding: 4px 10px;
  color: #F5F5F5;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.contact form textarea {
  height: 100px;
  padding-top: 10px;
  resize: none;
}

.contact form input[type=submit] {
  width: 30%;
  margin-left: 23.5%;
  border: 2px solid #007CED;
  border-radius: 29px;
  font-weight: 600;
}

@media (max-width: 1160px) {
  .contact h4 {
    margin: 0 auto;
    padding-top: 5%;
    color: #007CED;
    text-transform: uppercase;
    border-bottom: none;
  }
  .contact h4:after {
    display: none;
  }
  .contact form {
    margin-left: 28%;
  }
}

footer {
  border-top: 2px solid #606060;
  margin-bottom: 0;
  margin-top: 100px;
  padding-bottom: 10px;
  background-color: #282828;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social Ul {
  width: 30%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.social Ul li a {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
  padding: 2px;
  margin-bottom: 0;
  text-decoration: none;
  color: #F5F5F5;
}

.social Ul li a:hover {
  color: #007CED;
  cursor: pointer;
}

.social p {
  margin-top: 10px;
  padding-top: 19px;
  margin-left: 45%;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

@media (max-width: 1160px) {
  .social ul li a {
    padding: 6px;
    font-size: 1.25rem;
  }
  .social p {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */