html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #222222;
  color: #F5F5F5;
}

.wrapper {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  padding-right: 50px;
  padding-left: 50px;
}

nav {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.logo h2 {
  width: 48px;
  height: 48px;
  line-height: 44px;
  background-color: #007CED;
  border-radius: 100px;
  text-align: center;
  color: #F5F5F5;
  font-size: 2.8rem;
  font-weight: 800;
  margin-right: 8px;
  margin-top: 4px;
}

.logo h3 {
  width: 160px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 5rem;
  margin-top: 4px;
}

.logo .logo-surname {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.nav-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  margin-left: 33%;
  padding-right: 40px;
}

.nav-links li {
  list-style: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #606060;
}

.nav-links li:active, .nav-links li:hover {
  color: #F5F5F5;
  cursor: pointer;
}

.nav-links .fa-chevron-down {
  padding: 5px;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #606060;
}

.nav-links:hover {
  color: #F5F5F5;
}

.profile {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid #444444;
}

.profile .profile-summary {
  margin-left: 5%;
}

.profile .profile-summary h1 {
  margin-top: 0;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
}

.profile .profile-summary p:nth-child(1) {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.profile .profile-summary p:nth-child(3) {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 5%;
}

.btn-one,
.btn-two {
  width: 150px;
  padding: 10px 20px;
  background-color: #444444;
  color: #F5F5F5;
  display: inline-block;
  border-radius: 29px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.btn-one {
  border: 2px solid #007CED;
}

.btn-one:hover {
  background-color: #007CED;
  cursor: pointer;
}

.btn-two {
  border: 2px solid #F5F5F5;
}

.btn-two:hover {
  background-color: #F5F5F5;
  color: #222222;
  cursor: pointer;
}

.skills h4 {
  width: 13.8%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.skills h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 50px;
  bottom: -2px;
  left: 0;
}

.icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.icons li h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.icon-fa {
  font-size: 10rem;
  margin: 20px 80px;
}

.icon-two {
  width: 80px;
  height: 80px;
}

.icons li:nth-child(9) {
  margin-top: 2%;
}

.icons li:nth-child(11) {
  margin-left: 22px;
}

.projects {
  margin-bottom: 200px;
}

.proj-desc h4 {
  width: 7.5%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.proj-desc h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 30px;
  bottom: -2px;
  left: 0;
}

.projects-container-one,
.projects-container-two {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proj-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.proj-three .proj-three-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-three .proj-three-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 12%;
}

.proj-three .proj-three-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-three .proj-three-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
}

.proj-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.proj-four .proj-four-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-four .proj-four-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 55%;
}

.proj-four .proj-four-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-four .proj-four-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
}

.proj-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 200px;
}

.proj-five .proj-five-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-five .proj-five-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 12%;
}

.proj-five .proj-five-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-five .proj-five-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
}

.proj-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: 200px;
}

.proj-six .proj-six-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.proj-six .proj-six-summary {
  width: 40%;
  background-color: #282828;
  padding: 5px 10px 5px 100px;
  border: 2px solid #606060;
  border-radius: 10px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 55%;
}

.proj-six .proj-six-summary p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.proj-six .proj-six-summary h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 5px;
}

.posts {
  width: 80%;
  margin: 0 auto;
}

.blog-posts h4 {
  width: 9.5%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.blog-posts h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 35px;
  bottom: -2px;
  left: 0;
}

.medium-widget-article__description {
  color: white;
}

.medium-widget-article__title {
  color: white;
}

.contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h4 {
  width: 15%;
  padding-bottom: 5px;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 2.5rem;
  position: relative;
  border-bottom: 2px solid #444444;
}

.contact h4:after {
  position: absolute;
  background-color: #007CED;
  height: 2px;
  content: " ";
  width: 35px;
  bottom: -2px;
  left: 0;
}

.contact form label,
.contact form input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer {
  border-top: 2px solid #606060;
  margin-bottom: 0;
  margin-top: 100px;
  background-color: #282828;
}

footer p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 2px;
  margin-bottom: 0;
  margin-left: 80%;
}
/*# sourceMappingURL=styles.css.map */